snippet flex "flex" b
display: flex;
endsnippet

snippet flexdir "Description" b
flex-direction: ${1:column};
endsnippet

snippet flexjc "flex" b
justify-content: ${1:center};
endsnippet

snippet flexsb "flex"
space-between
endsnippet

snippet flexsa "flex"
space-around
endsnippet

snippet flexai "flex" b
align-items: ${1:center};
endsnippet

snippet flexwp "Description" b
flex-wrap:  ${1:wrap};
endsnippet
